In [139]:
import numpy as np
import pandas as pd

In [84]:
# read in excel file

xlsx_file = pd.ExcelFile('Raw_Interval_Data.xlsx')
df1 = xlsx_file.parse('1', header=0)

In [85]:
df1.head()

                NM_CUST    NM_ACCT  Unnamed: 2  SERV_PT_ID   CD_RATE  \
NaN NaN  Happy Customer  Account 1         NaN           1  PATODCP2
    NaN  Happy Customer  Account 1         NaN           1  PATODCP2
    NaN  Happy Customer  Account 1         NaN           1  PATODCP2
    NaN  Happy Customer  Account 1         NaN           1  PATODCP2
    NaN  Happy Customer  Account 1         NaN           1  PATODCP2

         Unnamed: 5  BILL_YEAR  BILL_MONTH INTRVL_DATE  CHNL_ID  ...   \
NaN NaN         NaN        NaN         NaN  2017-12-31      101  ...
    NaN         NaN        NaN         NaN  2017-12-31      102  ...
    NaN         NaN        NaN         NaN  2017-12-30      101  ...
    NaN         NaN        NaN         NaN  2017-12-30      102  ...
    NaN         NaN        NaN         NaN  2017-12-29      101  ...

         Unnamed: 107  Unnamed: 108  Unnamed: 109  Unnamed: 110  Unnamed: 111  \
NaN NaN           NaN           NaN           NaN           NaN           NaN
    NaN           NaN           NaN           NaN           NaN           NaN
    NaN           NaN           NaN           NaN           NaN           NaN
    NaN           NaN           NaN           NaN           NaN           NaN
    NaN           NaN           NaN           NaN           NaN           NaN

         Unnamed: 112  Unnamed: 113  Unnamed: 114  Unnamed: 115  0.25
NaN NaN           NaN           NaN           NaN           NaN   NaN
    NaN           NaN           NaN           NaN           NaN   NaN
    NaN           NaN           NaN           NaN           NaN   NaN
    NaN           NaN           NaN           NaN           NaN   NaN
    NaN           NaN           NaN           NaN           NaN   NaN

[5 rows x 117 columns]

In [71]:
df1.sum()

NM_CUST         Happy CustomerHappy CustomerHappy CustomerHapp...
NM_ACCT         Account 1Account 1Account 1Account 1Account 1A...
Unnamed: 2                                                      0
SERV_PT_ID                                                    730
CD_RATE         PATODCP2PATODCP2PATODCP2PATODCP2PATODCP2PATODC...
Unnamed: 5                                                      0
BILL_YEAR                                             1.40383e+06
BILL_MONTH                                                   4654
CHNL_ID                                                     74095
MIN_0015_KWH                                              3376.96
MIN_0030_KWH                                              3396.38
MIN_0045_KWH                                              3426.42
MIN_0100_KWH                                               3425.2
MIN_0115_KWH                                              3402.62
MIN_0130_KWH                                              3390.62
MIN_0145_KWH                                              3394.78
MIN_0200_KWH                                              3387.58
MIN_0215_KWH                                              3370.28
MIN_0230_KWH                                              3371.78
MIN_0245_KWH                                              3369.08
MIN_0300_KWH                                               3360.2
MIN_0315_KWH                                              3340.88
MIN_0330_KWH                                              3328.34
MIN_0345_KWH                                              3320.82
MIN_0400_KWH                                                 3322
MIN_0415_KWH                                              3335.06
MIN_0430_KWH                                               3320.3
MIN_0445_KWH                                               3306.1
MIN_0500_KWH                                              3301.14
MIN_0515_KWH                                              3283.24
                                      ...
MIN_1930_KWH                                              3120.86
MIN_1945_KWH                                              3144.62
MIN_2000_KWH                                              3159.44
MIN_2015_KWH                                               3168.4
MIN_2030_KWH                                              3170.12
MIN_2045_KWH                                              3176.82
MIN_2100_KWH                                               3182.5
MIN_2115_KWH                                              3194.08
MIN_2130_KWH                                              3211.34
MIN_2145_KWH                                              3228.74
MIN_2200_KWH                                              3231.34
MIN_2215_KWH                                               3230.5
MIN_2230_KWH                                              3255.56
MIN_2245_KWH                                              3274.58
MIN_2300_KWH                                              3322.18
MIN_2315_KWH                                              3358.12
MIN_2330_KWH                                               3353.4
MIN_2345_KWH                                              3363.88
MIN_2400_KWH                                              3365.34
Unnamed: 106                                                    0
Unnamed: 107                                                    0
Unnamed: 108                                                    0
Unnamed: 109                                                    0
Unnamed: 110                                                    0
Unnamed: 111                                                    0
Unnamed: 112                                                    0
Unnamed: 113                                                    0
Unnamed: 114                                                    0
Unnamed: 115                                                    0
0.25                                                            0
Length: 116, dtype: object

In [95]:
pd.date_range(start='1/1/2017', end='1/3/2017')

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03'], dtype='datetime64[ns]', freq='D')

In [86]:
# only get the date, chanel and values

df1.loc[:,'INTRVL_DATE':'MIN_2400_KWH']

        INTRVL_DATE  CHNL_ID  MIN_0015_KWH  MIN_0030_KWH  MIN_0045_KWH  \
NaN NaN  2017-12-31      101          4.78          4.86          4.78
    NaN  2017-12-31      102          0.00          0.00          0.00
    NaN  2017-12-30      101          4.78          4.80          4.78
    NaN  2017-12-30      102          0.00          0.00          0.00
    NaN  2017-12-29      101          4.78          4.78          4.80
    NaN  2017-12-29      102          0.00          0.00          0.00
    NaN  2017-12-28      101         12.28         17.18         17.20
    NaN  2017-12-28      102          0.00          0.00          0.00
    NaN  2017-12-27      101          4.78          4.78          4.86
    NaN  2017-12-27      102          0.00          0.00          0.00
    NaN  2017-12-26      101          4.80          4.78          4.78
    NaN  2017-12-26      102          0.00          0.00          0.00
    NaN  2017-12-25      101          4.78          4.80          4.78
    NaN  2017-12-25      102          0.00          0.00          0.00
    NaN  2017-12-24      101          4.78          4.80          4.78
    NaN  2017-12-24      102          0.00          0.00          0.00
    NaN  2017-12-23      101          4.78          4.78          4.78
    NaN  2017-12-23      102          0.00          0.00          0.00
    NaN  2017-12-22      101          4.80          4.80          4.78
    NaN  2017-12-22      102          0.00          0.00          0.00
    NaN  2017-12-21      101          4.82          4.80          4.80
    NaN  2017-12-21      102          0.00          0.00          0.00
    NaN  2017-12-20      101          4.80          4.78          4.78
    NaN  2017-12-20      102          0.00          0.00          0.00
    NaN  2017-12-19      101          4.80          4.78          4.80
    NaN  2017-12-19      102          0.00          0.00          0.00
    NaN  2017-12-18      101          4.78          4.84          4.78
    NaN  2017-12-18      102          0.00          0.00          0.00
    NaN  2017-12-17      101          4.78          4.78          4.78
    NaN  2017-12-17      102          0.00          0.00          0.00
...             ...      ...           ...           ...           ...
    NaN  2017-01-15      101          0.52          0.52          0.52
    NaN  2017-01-15      102          0.00          0.00          0.00
    NaN  2017-01-14      101          0.52          0.52          0.52
    NaN  2017-01-14      102          0.00          0.00          0.00
    NaN  2017-01-13      101          0.52          0.52          0.52
    NaN  2017-01-13      102          0.00          0.00          0.00
    NaN  2017-01-12      101          0.52          0.54          0.52
    NaN  2017-01-12      102          0.00          0.00          0.00
    NaN  2017-01-11      101          0.52          0.52          0.52
    NaN  2017-01-11      102          0.00          0.00          0.00
    NaN  2017-01-10      101          0.52          0.52          0.52
    NaN  2017-01-10      102          0.00          0.00          0.00
    NaN  2017-01-09      101          0.52          0.54          0.52
    NaN  2017-01-09      102          0.00          0.00          0.00
    NaN  2017-01-08      101          0.52          0.52          0.54
    NaN  2017-01-08      102          0.00          0.00          0.00
    NaN  2017-01-07      101          0.54          0.52          0.52
    NaN  2017-01-07      102          0.00          0.00          0.00
    NaN  2017-01-06      101          0.54          0.52          0.52
    NaN  2017-01-06      102          0.00          0.00          0.00
    NaN  2017-01-05      101          0.52          0.52          0.50
    NaN  2017-01-05      102          0.00          0.00          0.00
    NaN  2017-01-04      101          0.52          0.52          0.52
    NaN  2017-01-04      102          0.00          0.00          0.00
    NaN  2017-01-03      101          0.54          0.52          0.52
    NaN  2017-01-03      102          0.00          0.00          0.00
    NaN  2017-01-02      101          0.52          0.52          0.52
    NaN  2017-01-02      102          0.00          0.00          0.00
    NaN  2017-01-01      101          0.52          0.52          0.52
    NaN  2017-01-01      102          0.00          0.00          0.00

         MIN_0100_KWH  MIN_0115_KWH  MIN_0130_KWH  MIN_0145_KWH  MIN_0200_KWH  \
NaN NaN          4.78          4.78          4.78          4.78          4.80
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.78          4.80          4.78          4.78          4.78
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.78          4.78          4.80          4.78          4.78
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN         17.18         17.18         17.16         17.18         17.22
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.78          4.80          4.78          4.68          4.78
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.80          4.78          4.80          4.78          4.80
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.80          4.78          4.80          4.78          4.80
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.80          4.80          4.82          4.80          4.80
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.78          4.78          4.80          4.78          4.78
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.80          4.80          4.80          4.80          4.82
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.80          4.80          4.78          4.80          4.80
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.78          4.78          4.82          4.82          4.78
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.78          4.78          4.80          4.78          4.78
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.76          4.78          4.78          4.78          4.76
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.78          4.78          4.78          4.78          4.78
    NaN          0.00          0.00          0.00          0.00          0.00
...               ...           ...           ...           ...           ...
    NaN          0.52          0.54          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.54          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.50          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.54          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.54          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.54          0.52          0.52          0.52          0.54
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.54
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.50          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.54          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.54          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00

             ...       MIN_2145_KWH  MIN_2200_KWH  MIN_2215_KWH  MIN_2230_KWH  \
NaN NaN      ...               4.78          4.80          4.78          4.78
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               4.80          4.78          4.80          4.78
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               4.80          4.78          4.80          4.78
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               4.78          4.78          4.80          4.78
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               4.80          4.88          4.80          4.78
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               4.80          4.78          4.80          4.78
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               4.80          4.88          4.80          4.80
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               4.80          4.78          4.80          4.78
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               4.80          4.78          4.80          4.78
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               4.80          4.86          4.78          4.80
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               4.80          4.80          4.80          4.80
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               4.80          4.80          4.80          4.80
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               4.80          4.78          4.78          4.80
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               4.80          4.78          4.80          4.78
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               4.80          4.78          4.78          4.78
    NaN      ...               0.00          0.00          0.00          0.00
...          ...                ...           ...           ...           ...
    NaN      ...               0.52          0.52          0.52          0.52
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               0.52          0.52          0.52          0.54
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               0.52          0.54          0.52          0.52
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               0.52          0.52          0.52          0.52
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               0.52          0.54          0.52          0.52
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               0.52          0.54          0.52          0.52
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               0.52          0.52          0.52          0.52
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               0.54          0.52          0.52          0.54
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               0.52          0.52          0.54          0.52
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               0.52          0.54          0.52          0.54
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               0.52          0.54          0.52          0.52
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               0.54          0.52          0.52          0.52
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               0.52          0.52          0.52          0.52
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               0.52          0.52          0.54          0.52
    NaN      ...               0.00          0.00          0.00          0.00
    NaN      ...               0.52          0.52          0.52          0.54
    NaN      ...               0.00          0.00          0.00          0.00

         MIN_2245_KWH  MIN_2300_KWH  MIN_2315_KWH  MIN_2330_KWH  MIN_2345_KWH  \
NaN NaN          4.78          4.80          4.78          4.78          4.78
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.78          4.80          4.78          4.78          4.80
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.80          4.78          4.78          4.78          4.86
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.84          4.80          4.78          4.78          4.78
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.80          4.80          4.80          4.80          4.78
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.80          4.78          4.80          4.78          4.78
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.78          4.80          4.78          4.80          4.80
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.80          4.80          4.78          4.78          4.84
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.80          4.80          4.78          4.78          4.80
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.80          4.80          4.78          4.78          4.78
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.84          4.84          4.80          4.78          4.80
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.80          4.78          4.80          4.78          4.80
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.78          4.80          4.78          4.78          4.78
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.80          4.86          4.78          4.78          4.80
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          4.78          4.80          4.76          4.80          4.78
    NaN          0.00          0.00          0.00          0.00          0.00
...               ...           ...           ...           ...           ...
    NaN          0.52          0.54          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.54          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.54          0.52          0.52          0.54
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.54          0.52          0.52          0.54
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.54          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.54          0.52          0.52          0.52          0.54
    NaN          0.00          0.00          0.00          0.00          0.00
    NaN          0.52          0.52          0.52          0.52          0.52
    NaN          0.00          0.00          0.00          0.00          0.00

         MIN_2400_KWH
NaN NaN          4.78
    NaN          0.00
    NaN          4.78
    NaN          0.00
    NaN          4.78
    NaN          0.00
    NaN          4.78
    NaN          0.00
    NaN          4.80
    NaN          0.00
    NaN          4.80
    NaN          0.00
    NaN          4.78
    NaN          0.00
    NaN          4.82
    NaN          0.00
    NaN          4.80
    NaN          0.00
    NaN          4.78
    NaN          0.00
    NaN          4.78
    NaN          0.00
    NaN          4.84
    NaN          0.00
    NaN          4.80
    NaN          0.00
    NaN          4.78
    NaN          0.00
    NaN          4.78
    NaN          0.00
...               ...
    NaN          0.52
    NaN          0.00
    NaN          0.52
    NaN          0.00
    NaN          0.52
    NaN          0.00
    NaN          0.52
    NaN          0.00
    NaN          0.52
    NaN          0.00
    NaN          0.52
    NaN          0.00
    NaN          0.52
    NaN          0.00
    NaN          0.52
    NaN          0.00

In [87]:
# get 12/31/2017 two chanel value

df_day = df1.ix[0:2,'MIN_0015_KWH':'MIN_2400_KWH']
df_day

C:\Users\movin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

         MIN_0015_KWH  MIN_0030_KWH  MIN_0045_KWH  MIN_0100_KWH  MIN_0115_KWH  \
NaN NaN          4.78          4.86          4.78          4.78          4.78
    NaN          0.00          0.00          0.00          0.00          0.00

         MIN_0130_KWH  MIN_0145_KWH  MIN_0200_KWH  MIN_0215_KWH  MIN_0230_KWH  \
NaN NaN          4.78          4.78           4.8          4.78          4.78
    NaN          0.00          0.00           0.0          0.00          0.00

             ...       MIN_2145_KWH  MIN_2200_KWH  MIN_2215_KWH  MIN_2230_KWH  \
NaN NaN      ...               4.78           4.8          4.78          4.78
    NaN      ...               0.00           0.0          0.00          0.00

         MIN_2245_KWH  MIN_2300_KWH  MIN_2315_KWH  MIN_2330_KWH  MIN_2345_KWH  \
NaN NaN          4.78           4.8          4.78          4.78          4.78
    NaN          0.00           0.0          0.00          0.00          0.00

         MIN_2400_KWH
NaN NaN          4.78
    NaN          0.00

[2 rows x 96 columns]

In [88]:
# transpose the matrix to get output format

df_day_out = df_day.T
df_day_out

               NaN
               NaN  NaN
MIN_0015_KWH  4.78  0.0
MIN_0030_KWH  4.86  0.0
MIN_0045_KWH  4.78  0.0
MIN_0100_KWH  4.78  0.0
MIN_0115_KWH  4.78  0.0
MIN_0130_KWH  4.78  0.0
MIN_0145_KWH  4.78  0.0
MIN_0200_KWH  4.80  0.0
MIN_0215_KWH  4.78  0.0
MIN_0230_KWH  4.78  0.0
MIN_0245_KWH  4.78  0.0
MIN_0300_KWH  4.80  0.0
MIN_0315_KWH  4.78  0.0
MIN_0330_KWH  4.78  0.0
MIN_0345_KWH  4.80  0.0
MIN_0400_KWH  4.78  0.0
MIN_0415_KWH  4.78  0.0
MIN_0430_KWH  4.84  0.0
MIN_0445_KWH  4.80  0.0
MIN_0500_KWH  4.78  0.0
MIN_0515_KWH  4.80  0.0
MIN_0530_KWH  4.78  0.0
MIN_0545_KWH  4.78  0.0
MIN_0600_KWH  4.78  0.0
MIN_0615_KWH  4.78  0.0
MIN_0630_KWH  4.78  0.0
MIN_0645_KWH  4.76  0.0
MIN_0700_KWH  4.78  0.0
MIN_0715_KWH  4.74  0.0
MIN_0730_KWH  4.36  0.0
...            ...  ...
MIN_1645_KWH  4.04  0.0
MIN_1700_KWH  4.76  0.0
MIN_1715_KWH  4.78  0.0
MIN_1730_KWH  4.78  0.0
MIN_1745_KWH  4.78  0.0
MIN_1800_KWH  4.78  0.0
MIN_1815_KWH  4.80  0.0
MIN_1830_KWH  4.78  0.0
MIN_1845_KWH  4.80  0.0
MIN_1900_KWH  4.78  0.0
MIN_1915_KWH  4.80  0.0
MIN_1930_KWH  4.80  0.0
MIN_1945_KWH  4.78  0.0
MIN_2000_KWH  4.80  0.0
MIN_2015_KWH  4.78  0.0
MIN_2030_KWH  4.86  0.0
MIN_2045_KWH  4.80  0.0
MIN_2100_KWH  4.78  0.0
MIN_2115_KWH  4.78  0.0
MIN_2130_KWH  4.80  0.0
MIN_2145_KWH  4.78  0.0
MIN_2200_KWH  4.80  0.0
MIN_2215_KWH  4.78  0.0
MIN_2230_KWH  4.78  0.0
MIN_2245_KWH  4.78  0.0
MIN_2300_KWH  4.80  0.0
MIN_2315_KWH  4.78  0.0
MIN_2330_KWH  4.78  0.0
MIN_2345_KWH  4.78  0.0
MIN_2400_KWH  4.78  0.0

[96 rows x 2 columns]

In [89]:
# calculate the kW from kWh (divide by 0.25h)

df_day_out = df_day_out/0.25
df_day_out

                NaN
                NaN  NaN
MIN_0015_KWH  19.12  0.0
MIN_0030_KWH  19.44  0.0
MIN_0045_KWH  19.12  0.0
MIN_0100_KWH  19.12  0.0
MIN_0115_KWH  19.12  0.0
MIN_0130_KWH  19.12  0.0
MIN_0145_KWH  19.12  0.0
MIN_0200_KWH  19.20  0.0
MIN_0215_KWH  19.12  0.0
MIN_0230_KWH  19.12  0.0
MIN_0245_KWH  19.12  0.0
MIN_0300_KWH  19.20  0.0
MIN_0315_KWH  19.12  0.0
MIN_0330_KWH  19.12  0.0
MIN_0345_KWH  19.20  0.0
MIN_0400_KWH  19.12  0.0
MIN_0415_KWH  19.12  0.0
MIN_0430_KWH  19.36  0.0
MIN_0445_KWH  19.20  0.0
MIN_0500_KWH  19.12  0.0
MIN_0515_KWH  19.20  0.0
MIN_0530_KWH  19.12  0.0
MIN_0545_KWH  19.12  0.0
MIN_0600_KWH  19.12  0.0
MIN_0615_KWH  19.12  0.0
MIN_0630_KWH  19.12  0.0
MIN_0645_KWH  19.04  0.0
MIN_0700_KWH  19.12  0.0
MIN_0715_KWH  18.96  0.0
MIN_0730_KWH  17.44  0.0
...             ...  ...
MIN_1645_KWH  16.16  0.0
MIN_1700_KWH  19.04  0.0
MIN_1715_KWH  19.12  0.0
MIN_1730_KWH  19.12  0.0
MIN_1745_KWH  19.12  0.0
MIN_1800_KWH  19.12  0.0
MIN_1815_KWH  19.20  0.0
MIN_1830_KWH  19.12  0.0
MIN_1845_KWH  19.20  0.0
MIN_1900_KWH  19.12  0.0
MIN_1915_KWH  19.20  0.0
MIN_1930_KWH  19.20  0.0
MIN_1945_KWH  19.12  0.0
MIN_2000_KWH  19.20  0.0
MIN_2015_KWH  19.12  0.0
MIN_2030_KWH  19.44  0.0
MIN_2045_KWH  19.20  0.0
MIN_2100_KWH  19.12  0.0
MIN_2115_KWH  19.12  0.0
MIN_2130_KWH  19.20  0.0
MIN_2145_KWH  19.12  0.0
MIN_2200_KWH  19.20  0.0
MIN_2215_KWH  19.12  0.0
MIN_2230_KWH  19.12  0.0
MIN_2245_KWH  19.12  0.0
MIN_2300_KWH  19.20  0.0
MIN_2315_KWH  19.12  0.0
MIN_2330_KWH  19.12  0.0
MIN_2345_KWH  19.12  0.0
MIN_2400_KWH  19.12  0.0

[96 rows x 2 columns]

In [90]:
# calculate net kW

df_day_out['net'] = df_day_out.iloc[:,0] - df_day_out.iloc[:,1]
df_day_out

                NaN         net
                NaN  NaN
MIN_0015_KWH  19.12  0.0  19.12
MIN_0030_KWH  19.44  0.0  19.44
MIN_0045_KWH  19.12  0.0  19.12
MIN_0100_KWH  19.12  0.0  19.12
MIN_0115_KWH  19.12  0.0  19.12
MIN_0130_KWH  19.12  0.0  19.12
MIN_0145_KWH  19.12  0.0  19.12
MIN_0200_KWH  19.20  0.0  19.20
MIN_0215_KWH  19.12  0.0  19.12
MIN_0230_KWH  19.12  0.0  19.12
MIN_0245_KWH  19.12  0.0  19.12
MIN_0300_KWH  19.20  0.0  19.20
MIN_0315_KWH  19.12  0.0  19.12
MIN_0330_KWH  19.12  0.0  19.12
MIN_0345_KWH  19.20  0.0  19.20
MIN_0400_KWH  19.12  0.0  19.12
MIN_0415_KWH  19.12  0.0  19.12
MIN_0430_KWH  19.36  0.0  19.36
MIN_0445_KWH  19.20  0.0  19.20
MIN_0500_KWH  19.12  0.0  19.12
MIN_0515_KWH  19.20  0.0  19.20
MIN_0530_KWH  19.12  0.0  19.12
MIN_0545_KWH  19.12  0.0  19.12
MIN_0600_KWH  19.12  0.0  19.12
MIN_0615_KWH  19.12  0.0  19.12
MIN_0630_KWH  19.12  0.0  19.12
MIN_0645_KWH  19.04  0.0  19.04
MIN_0700_KWH  19.12  0.0  19.12
MIN_0715_KWH  18.96  0.0  18.96
MIN_0730_KWH  17.44  0.0  17.44
...             ...  ...    ...
MIN_1645_KWH  16.16  0.0  16.16
MIN_1700_KWH  19.04  0.0  19.04
MIN_1715_KWH  19.12  0.0  19.12
MIN_1730_KWH  19.12  0.0  19.12
MIN_1745_KWH  19.12  0.0  19.12
MIN_1800_KWH  19.12  0.0  19.12
MIN_1815_KWH  19.20  0.0  19.20
MIN_1830_KWH  19.12  0.0  19.12
MIN_1845_KWH  19.20  0.0  19.20
MIN_1900_KWH  19.12  0.0  19.12
MIN_1915_KWH  19.20  0.0  19.20
MIN_1930_KWH  19.20  0.0  19.20
MIN_1945_KWH  19.12  0.0  19.12
MIN_2000_KWH  19.20  0.0  19.20
MIN_2015_KWH  19.12  0.0  19.12
MIN_2030_KWH  19.44  0.0  19.44
MIN_2045_KWH  19.20  0.0  19.20
MIN_2100_KWH  19.12  0.0  19.12
MIN_2115_KWH  19.12  0.0  19.12
MIN_2130_KWH  19.20  0.0  19.20
MIN_2145_KWH  19.12  0.0  19.12
MIN_2200_KWH  19.20  0.0  19.20
MIN_2215_KWH  19.12  0.0  19.12
MIN_2230_KWH  19.12  0.0  19.12
MIN_2245_KWH  19.12  0.0  19.12
MIN_2300_KWH  19.20  0.0  19.20
MIN_2315_KWH  19.12  0.0  19.12
MIN_2330_KWH  19.12  0.0  19.12
MIN_2345_KWH  19.12  0.0  19.12
MIN_2400_KWH  19.12  0.0  19.12

[96 rows x 3 columns]

In [91]:
# convert net kW to net kWh (time 0.25h)

df_day_out['net'] = df_day_out['net'] * 0.25
df_day_out

                NaN        net
                NaN  NaN
MIN_0015_KWH  19.12  0.0  4.78
MIN_0030_KWH  19.44  0.0  4.86
MIN_0045_KWH  19.12  0.0  4.78
MIN_0100_KWH  19.12  0.0  4.78
MIN_0115_KWH  19.12  0.0  4.78
MIN_0130_KWH  19.12  0.0  4.78
MIN_0145_KWH  19.12  0.0  4.78
MIN_0200_KWH  19.20  0.0  4.80
MIN_0215_KWH  19.12  0.0  4.78
MIN_0230_KWH  19.12  0.0  4.78
MIN_0245_KWH  19.12  0.0  4.78
MIN_0300_KWH  19.20  0.0  4.80
MIN_0315_KWH  19.12  0.0  4.78
MIN_0330_KWH  19.12  0.0  4.78
MIN_0345_KWH  19.20  0.0  4.80
MIN_0400_KWH  19.12  0.0  4.78
MIN_0415_KWH  19.12  0.0  4.78
MIN_0430_KWH  19.36  0.0  4.84
MIN_0445_KWH  19.20  0.0  4.80
MIN_0500_KWH  19.12  0.0  4.78
MIN_0515_KWH  19.20  0.0  4.80
MIN_0530_KWH  19.12  0.0  4.78
MIN_0545_KWH  19.12  0.0  4.78
MIN_0600_KWH  19.12  0.0  4.78
MIN_0615_KWH  19.12  0.0  4.78
MIN_0630_KWH  19.12  0.0  4.78
MIN_0645_KWH  19.04  0.0  4.76
MIN_0700_KWH  19.12  0.0  4.78
MIN_0715_KWH  18.96  0.0  4.74
MIN_0730_KWH  17.44  0.0  4.36
...             ...  ...   ...
MIN_1645_KWH  16.16  0.0  4.04
MIN_1700_KWH  19.04  0.0  4.76
MIN_1715_KWH  19.12  0.0  4.78
MIN_1730_KWH  19.12  0.0  4.78
MIN_1745_KWH  19.12  0.0  4.78
MIN_1800_KWH  19.12  0.0  4.78
MIN_1815_KWH  19.20  0.0  4.80
MIN_1830_KWH  19.12  0.0  4.78
MIN_1845_KWH  19.20  0.0  4.80
MIN_1900_KWH  19.12  0.0  4.78
MIN_1915_KWH  19.20  0.0  4.80
MIN_1930_KWH  19.20  0.0  4.80
MIN_1945_KWH  19.12  0.0  4.78
MIN_2000_KWH  19.20  0.0  4.80
MIN_2015_KWH  19.12  0.0  4.78
MIN_2030_KWH  19.44  0.0  4.86
MIN_2045_KWH  19.20  0.0  4.80
MIN_2100_KWH  19.12  0.0  4.78
MIN_2115_KWH  19.12  0.0  4.78
MIN_2130_KWH  19.20  0.0  4.80
MIN_2145_KWH  19.12  0.0  4.78
MIN_2200_KWH  19.20  0.0  4.80
MIN_2215_KWH  19.12  0.0  4.78
MIN_2230_KWH  19.12  0.0  4.78
MIN_2245_KWH  19.12  0.0  4.78
MIN_2300_KWH  19.20  0.0  4.80
MIN_2315_KWH  19.12  0.0  4.78
MIN_2330_KWH  19.12  0.0  4.78
MIN_2345_KWH  19.12  0.0  4.78
MIN_2400_KWH  19.12  0.0  4.78

[96 rows x 3 columns]

In [106]:
data = {'CHNL_ID 101 (kW)':df_day_out.iloc[:,0],
       'CHNL_ID 102 (kW)':df_day_out.iloc[:,1],
       'Net Usage (kWh)':df_day_out.iloc[:,2]}
df_new = pd.DataFrame(data)
df_new

              CHNL_ID 101 (kW)  CHNL_ID 102 (kW)  Net Usage (kWh)
MIN_0015_KWH             19.12               0.0             4.78
MIN_0030_KWH             19.44               0.0             4.86
MIN_0045_KWH             19.12               0.0             4.78
MIN_0100_KWH             19.12               0.0             4.78
MIN_0115_KWH             19.12               0.0             4.78
MIN_0130_KWH             19.12               0.0             4.78
MIN_0145_KWH             19.12               0.0             4.78
MIN_0200_KWH             19.20               0.0             4.80
MIN_0215_KWH             19.12               0.0             4.78
MIN_0230_KWH             19.12               0.0             4.78
MIN_0245_KWH             19.12               0.0             4.78
MIN_0300_KWH             19.20               0.0             4.80
MIN_0315_KWH             19.12               0.0             4.78
MIN_0330_KWH             19.12               0.0             4.78
MIN_0345_KWH             19.20               0.0             4.80
MIN_0400_KWH             19.12               0.0             4.78
MIN_0415_KWH             19.12               0.0             4.78
MIN_0430_KWH             19.36               0.0             4.84
MIN_0445_KWH             19.20               0.0             4.80
MIN_0500_KWH             19.12               0.0             4.78
MIN_0515_KWH             19.20               0.0             4.80
MIN_0530_KWH             19.12               0.0             4.78
MIN_0545_KWH             19.12               0.0             4.78
MIN_0600_KWH             19.12               0.0             4.78
MIN_0615_KWH             19.12               0.0             4.78
MIN_0630_KWH             19.12               0.0             4.78
MIN_0645_KWH             19.04               0.0             4.76
MIN_0700_KWH             19.12               0.0             4.78
MIN_0715_KWH             18.96               0.0             4.74
MIN_0730_KWH             17.44               0.0             4.36
...                        ...               ...              ...
MIN_1645_KWH             16.16               0.0             4.04
MIN_1700_KWH             19.04               0.0             4.76
MIN_1715_KWH             19.12               0.0             4.78
MIN_1730_KWH             19.12               0.0             4.78
MIN_1745_KWH             19.12               0.0             4.78
MIN_1800_KWH             19.12               0.0             4.78
MIN_1815_KWH             19.20               0.0             4.80
MIN_1830_KWH             19.12               0.0             4.78
MIN_1845_KWH             19.20               0.0             4.80
MIN_1900_KWH             19.12               0.0             4.78
MIN_1915_KWH             19.20               0.0             4.80
MIN_1930_KWH             19.20               0.0             4.80
MIN_1945_KWH             19.12               0.0             4.78
MIN_2000_KWH             19.20               0.0             4.80
MIN_2015_KWH             19.12               0.0             4.78
MIN_2030_KWH             19.44               0.0             4.86
MIN_2045_KWH             19.20               0.0             4.80
MIN_2100_KWH             19.12               0.0             4.78
MIN_2115_KWH             19.12               0.0             4.78
MIN_2130_KWH             19.20               0.0             4.80
MIN_2145_KWH             19.12               0.0             4.78
MIN_2200_KWH             19.20               0.0             4.80
MIN_2215_KWH             19.12               0.0             4.78
MIN_2230_KWH             19.12               0.0             4.78
MIN_2245_KWH             19.12               0.0             4.78
MIN_2300_KWH             19.20               0.0             4.80
MIN_2315_KWH             19.12               0.0             4.78
MIN_2330_KWH             19.12               0.0             4.78
MIN_2345_KWH             19.12               0.0             4.78
MIN_2400_KWH             19.12               0.0             4.78

[96 rows x 3 columns]

In [107]:
# this finishes one day data cleaning process
# now put everything in function

In [133]:
def extract(df, date):
    """extract daily value as a separate dataframe,
    input: dataframe, date
    output: a dataframe of dimension 2x96,
    row 1 is channel 101 data, row 2 is channel 102 data"""
    
    df_out = df[df['INTRVL_DATE'] == date]
    
    return df_out

In [134]:
def convert(df):
    """input a day value dataframe, 
    output dataframe in format 96 rows x 3 columns
    101 kW, 102 kW and net kWh"""
    
    # read in daily value, transpose matrix
    df_day = df.ix[0:2, 'MIN_0015_KWH':'MIN_2400_KWH'].T
    
    # calculate kW from kWh
    df_day_kW = df_day / 0.25
    
    # calculate net kW value
    df_day_kW['net'] = df_day_kW.iloc[:,0] - df_day_kW.iloc[:,1]
    
    # calculate net kWh
    df_day_result = df_day_kW.copy()
    df_day_result['net'] = df_day_result['net'] * 0.25
    
    # rename columns
    data = {'CHNL_ID 101 (kW)':df_day_result.iloc[:,0],
       'CHNL_ID 102 (kW)':df_day_result.iloc[:,1],
       'Net Usage (kWh)':df_day_result.iloc[:,2]}
    df_day_result = pd.DataFrame(data)
    
    return df_day_result

In [135]:
xlsx_file = pd.ExcelFile('Raw_Interval_Data.xlsx')
tab_list = ['2']

writer = pd.ExcelWriter('output.xlsx')

In [136]:
for tab in tab_list:
    df = xlsx_file.parse(tab, header=0)

In [137]:
# create an empty dataframe
FinalDf = pd.DataFrame()

In [140]:
# extract each day value and append to a final dataframe
for date in pd.date_range(start='1/1/2017', end='12/31/2017'):
    DayDf = extract(df, date)
    DayResDf = convert(DayDf)
    FinalDf = pd.concat([FinalDf, DayResDf])

C:\Users\movin\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys

TypeError: Could not operate 0.25 with block values unsupported operand type(s) for /: 'str' and 'float'

In [125]:
FinalDf

              CHNL_ID 101 (kW)  CHNL_ID 102 (kW)  Net Usage (kWh)
MIN_0015_KWH              2.08               0.0             0.52
MIN_0030_KWH              2.08               0.0             0.52
MIN_0045_KWH              2.08               0.0             0.52
MIN_0100_KWH              2.08               0.0             0.52
MIN_0115_KWH              2.08               0.0             0.52
MIN_0130_KWH              2.16               0.0             0.54
MIN_0145_KWH              2.08               0.0             0.52
MIN_0200_KWH              2.08               0.0             0.52
MIN_0215_KWH              2.08               0.0             0.52
MIN_0230_KWH              2.08               0.0             0.52
MIN_0245_KWH              2.08               0.0             0.52
MIN_0300_KWH              2.16               0.0             0.54
MIN_0315_KWH              2.08               0.0             0.52
MIN_0330_KWH              2.08               0.0             0.52
MIN_0345_KWH              2.16               0.0             0.54
MIN_0400_KWH              2.08               0.0             0.52
MIN_0415_KWH              2.08               0.0             0.52
MIN_0430_KWH              2.16               0.0             0.54
MIN_0445_KWH              2.08               0.0             0.52
MIN_0500_KWH              2.08               0.0             0.52
MIN_0515_KWH              2.08               0.0             0.52
MIN_0530_KWH              2.16               0.0             0.54
MIN_0545_KWH              2.08               0.0             0.52
MIN_0600_KWH              2.08               0.0             0.52
MIN_0615_KWH              2.08               0.0             0.52
MIN_0630_KWH              2.08               0.0             0.52
MIN_0645_KWH              2.08               0.0             0.52
MIN_0700_KWH              2.08               0.0             0.52
MIN_0715_KWH              1.60               0.0             0.40
MIN_0730_KWH              0.40               0.0             0.10
...                        ...               ...              ...
MIN_1645_KWH             16.16               0.0             4.04
MIN_1700_KWH             19.04               0.0             4.76
MIN_1715_KWH             19.12               0.0             4.78
MIN_1730_KWH             19.12               0.0             4.78
MIN_1745_KWH             19.12               0.0             4.78
MIN_1800_KWH             19.12               0.0             4.78
MIN_1815_KWH             19.20               0.0             4.80
MIN_1830_KWH             19.12               0.0             4.78
MIN_1845_KWH             19.20               0.0             4.80
MIN_1900_KWH             19.12               0.0             4.78
MIN_1915_KWH             19.20               0.0             4.80
MIN_1930_KWH             19.20               0.0             4.80
MIN_1945_KWH             19.12               0.0             4.78
MIN_2000_KWH             19.20               0.0             4.80
MIN_2015_KWH             19.12               0.0             4.78
MIN_2030_KWH             19.44               0.0             4.86
MIN_2045_KWH             19.20               0.0             4.80
MIN_2100_KWH             19.12               0.0             4.78
MIN_2115_KWH             19.12               0.0             4.78
MIN_2130_KWH             19.20               0.0             4.80
MIN_2145_KWH             19.12               0.0             4.78
MIN_2200_KWH             19.20               0.0             4.80
MIN_2215_KWH             19.12               0.0             4.78
MIN_2230_KWH             19.12               0.0             4.78
MIN_2245_KWH             19.12               0.0             4.78
MIN_2300_KWH             19.20               0.0             4.80
MIN_2315_KWH             19.12               0.0             4.78
MIN_2330_KWH             19.12               0.0             4.78
MIN_2345_KWH             19.12               0.0             4.78
MIN_2400_KWH             19.12               0.0             4.78

[35040 rows x 3 columns]

In [126]:
# write final data to excel sheet
        
FinalDf.to_excel(writer, tab)
writer.save()

In [128]:
# write loop for every tab

xlsx_file = pd.ExcelFile('Raw_Interval_Data.xlsx')
tab_list = ['1','2','3','4','6','9','10']

writer = pd.ExcelWriter('output.xlsx')

for tab in tab_list:
    df = xlsx_file.parse(tab, header=0)
    
    # create an empty dataframe
    FinalDf = pd.DataFrame()
    
    # extract each day value and append to a final dataframe
    for date in pd.date_range(start='1/1/2017', end='12/31/2017'):
        DayDf = extract(df, date)
        DayDf.head()
        DayResDf = convert(DayDf)
        FinalDf = pd.concat([FinalDf, DayResDf])
    
    # write final data to excel sheet       
    FinalDf.to_excel(writer, tab)
    
writer.save()

C:\Users\movin\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys

TypeError: Could not operate 0.25 with block values unsupported operand type(s) for /: 'str' and 'float'