In [2]:
import numpy as np
import pandas as pd

In [3]:
# read in data for account 1

xlsx_file = pd.ExcelFile('output_acct1.xlsx')
df = xlsx_file.parse('1', header=0)

In [4]:
df.head()

              CHNL_ID 101 (kW)  CHNL_ID 102 (kW)  Net Usage (kWh)
MIN_0015_KWH              2.08               0.0             0.52
MIN_0030_KWH              2.08               0.0             0.52
MIN_0045_KWH              2.08               0.0             0.52
MIN_0100_KWH              2.08               0.0             0.52
MIN_0115_KWH              2.08               0.0             0.52

In [5]:
# create datetime column

datetime = pd.date_range('1/1/2017 00:15', '1/1/2018 00:00', freq='15min')

In [6]:
df['DateTime'] = datetime
df.head()

,CHNL_ID 101 (kW),CHNL_ID 102 (kW),Net Usage (kWh),DateTime
MIN_0015_KWH,2.08,0.0,0.52,2017-01-01 00:15:00
MIN_0030_KWH,2.08,0.0,0.52,2017-01-01 00:30:00
MIN_0045_KWH,2.08,0.0,0.52,2017-01-01 00:45:00
MIN_0100_KWH,2.08,0.0,0.52,2017-01-01 01:00:00
MIN_0115_KWH,2.08,0.0,0.52,2017-01-01 01:15:00

In [7]:
# create weekday column
# 1/1/2017 is Sunday

WeekDay_list = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
WeekDay = []

for x in range(35040):
    WeekDay.append(WeekDay_list[(x//96)%7])
    
len(WeekDay)

35040

In [8]:
df['WeekDay'] = WeekDay
df.head(97)

,CHNL_ID 101 (kW),CHNL_ID 102 (kW),Net Usage (kWh),DateTime,WeekDay
MIN_0015_KWH,2.08,0.00,0.52,2017-01-01 00:15:00,Sunday
MIN_0030_KWH,2.08,0.00,0.52,2017-01-01 00:30:00,Sunday
MIN_0045_KWH,2.08,0.00,0.52,2017-01-01 00:45:00,Sunday
MIN_0100_KWH,2.08,0.00,0.52,2017-01-01 01:00:00,Sunday
MIN_0115_KWH,2.08,0.00,0.52,2017-01-01 01:15:00,Sunday
MIN_0130_KWH,2.16,0.00,0.54,2017-01-01 01:30:00,Sunday
MIN_0145_KWH,2.08,0.00,0.52,2017-01-01 01:45:00,Sunday
MIN_0200_KWH,2.08,0.00,0.52,2017-01-01 02:00:00,Sunday
MIN_0215_KWH,2.08,0.00,0.52,2017-01-01 02:15:00,Sunday
MIN_0230_KWH,2.08,0.00,0.52,2017-01-01 02:30:00,Sunday
MIN_0245_KWH,2.08,0.00,0.52,2017-01-01 02:45:00,Sunday
MIN_0300_KWH,2.16,0.00,0.54,2017-01-01 03:00:00,Sunday
MIN_0315_KWH,2.08,0.00,0.52,2017-01-01 03:15:00,Sunday
MIN_0330_KWH,2.08,0.00,0.52,2017-01-01 03:30:00,Sunday
MIN_0345_KWH,2.16,0.00,0.54,2017-01-01 03:45:00,Sunday
MIN_0400_KWH,2.08,0.00,0.52,2017-01-01 04:00:00,Sunday
MIN_0415_KWH,2.08,0.00,0.52,2017-01-01 04:15:00,Sunday
MIN_0430_KWH,2.16,0.00,0.54,2017-01-01 04:30:00,Sunday
MIN_0445_KWH,2.08,0.00,0.52,2017-01-01 04:45:00,Sunday
MIN_0500_KWH,2.08,0.00,0.52,2017-01-01 05:00:00,Sunday
MIN_0515_KWH,2.08,0.00,0.52,2017-01-01 05:15:00,Sunday
MIN_0530_KWH,2.16,0.00,0.54,2017-01-01 05:30:00,Sunday
MIN_0545_KWH,2.08,0.00,0.52,2017-01-01 05:45:00,Sunday
MIN_0600_KWH,2.08,0.00,0.52,2017-01-01 06:00:00,Sunday
MIN_0615_KWH,2.08,0.00,0.52,2017-01-01 06:15:00,Sunday
MIN_0630_KWH,2.08,0.00,0.52,2017-01-01 06:30:00,Sunday
MIN_0645_KWH,2.08,0.00,0.52,2017-01-01 06:45:00,Sunday
MIN_0700_KWH,2.08,0.00,0.52,2017-01-01 07:00:00,Sunday
MIN_0715_KWH,1.60,0.00,0.40,2017-01-01 07:15:00,Sunday
MIN_0730_KWH,0.40,0.00,0.10,2017-01-01 07:30:00,Sunday
...,...,...,...,...,...
MIN_1700_KWH,1.92,0.08,0.46,2017-01-01 17:00:00,Sunday
MIN_1715_KWH,2.16,0.00,0.54,2017-01-01 17:15:00,Sunday
MIN_1730_KWH,2.08,0.00,0.52,2017-01-01 17:30:00,Sunday
MIN_1745_KWH,2.08,0.00,0.52,2017-01-01 17:45:00,Sunday
MIN_1800_KWH,2.08,0.00,0.52,2017-01-01 18:00:00,Sunday
MIN_1815_KWH,2.16,0.00,0.54,2017-01-01 18:15:00,Sunday
MIN_1830_KWH,2.08,0.00,0.52,2017-01-01 18:30:00,Sunday
MIN_1845_KWH,2.16,0.00,0.54,2017-01-01 18:45:00,Sunday
MIN_1900_KWH,2.08,0.00,0.52,2017-01-01 19:00:00,Sunday
MIN_1915_KWH,2.08,0.00,0.52,2017-01-01 19:15:00,Sunday
MIN_1930_KWH,2.16,0.00,0.54,2017-01-01 19:30:00,Sunday
MIN_1945_KWH,2.08,0.00,0.52,2017-01-01 19:45:00,Sunday
MIN_2000_KWH,2.08,0.00,0.52,2017-01-01 20:00:00,Sunday
MIN_2015_KWH,2.16,0.00,0.54,2017-01-01 20:15:00,Sunday
MIN_2030_KWH,2.08,0.00,0.52,2017-01-01 20:30:00,Sunday
MIN_2045_KWH,2.08,0.00,0.52,2017-01-01 20:45:00,Sunday
MIN_2100_KWH,2.08,0.00,0.52,2017-01-01 21:00:00,Sunday
MIN_2115_KWH,2.08,0.00,0.52,2017-01-01 21:15:00,Sunday
MIN_2130_KWH,2.08,0.00,0.52,2017-01-01 21:30:00,Sunday
MIN_2145_KWH,2.08,0.00,0.52,2017-01-01 21:45:00,Sunday
MIN_2200_KWH,2.08,0.00,0.52,2017-01-01 22:00:00,Sunday
MIN_2215_KWH,2.08,0.00,0.52,2017-01-01 22:15:00,Sunday
MIN_2230_KWH,2.16,0.00,0.54,2017-01-01 22:30:00,Sunday
MIN_2245_KWH,2.08,0.00,0.52,2017-01-01 22:45:00,Sunday
MIN_2300_KWH,2.08,0.00,0.52,2017-01-01 23:00:00,Sunday
MIN_2315_KWH,2.08,0.00,0.52,2017-01-01 23:15:00,Sunday
MIN_2330_KWH,2.08,0.00,0.52,2017-01-01 23:30:00,Sunday
MIN_2345_KWH,2.08,0.00,0.52,2017-01-01 23:45:00,Sunday
MIN_2400_KWH,2.08,0.00,0.52,2017-01-02 00:00:00,Sunday
MIN_0015_KWH,2.08,0.00,0.52,2017-01-02 00:15:00,Monday

In [25]:
# create season column

Season = []


for i in range(len(df)):
    if df['DateTime'][i].month in range(5,11):
        Season.append('Summer')
    else:
        Season.append('Winter')
  
len(Season)

35040

In [26]:
df['Season'] = Season
df.head()

,CHNL_ID 101 (kW),CHNL_ID 102 (kW),Net Usage (kWh),DateTime,WeekDay,Season
MIN_0015_KWH,2.08,0.0,0.52,2017-01-01 00:15:00,Sunday,Winter
MIN_0030_KWH,2.08,0.0,0.52,2017-01-01 00:30:00,Sunday,Winter
MIN_0045_KWH,2.08,0.0,0.52,2017-01-01 00:45:00,Sunday,Winter
MIN_0100_KWH,2.08,0.0,0.52,2017-01-01 01:00:00,Sunday,Winter
MIN_0115_KWH,2.08,0.0,0.52,2017-01-01 01:15:00,Sunday,Winter

In [28]:
# create tier column

Tier = []
Weekends = ['Saturday', 'Sunday']


for i in range(len(df)):
    if (df['Season'][i]=='Summer') and (df['WeekDay'][i] not in Weekends):
        if df['DateTime'][i].hour in range(11,18):
            Tier.append('OnPeak')
        elif df['DateTime'][i].hour in range(6,11) or df['DateTime'][i].hour in range(18,22):
            Tier.append('SemiPeak')
        else:
            Tier.append('OffPeak')
    elif (df['Season'][i]=='Winter') and (df['WeekDay'][i] not in Weekends):
        if df['DateTime'][i].hour in range(17,20):
            Tier.append('OnPeak')
        elif df['DateTime'][i].hour in range(6,17) or df['DateTime'][i].hour in range(20,22):
            Tier.append('SemiPeak')
        else:
            Tier.append('OffPeak')
    else:
        Tier.append('OffPeak')

In [30]:
df['Tier'] = Tier
df.head()

,CHNL_ID 101 (kW),CHNL_ID 102 (kW),Net Usage (kWh),DateTime,WeekDay,Season,Tier
MIN_0015_KWH,2.08,0.0,0.52,2017-01-01 00:15:00,Sunday,Winter,OffPeak
MIN_0030_KWH,2.08,0.0,0.52,2017-01-01 00:30:00,Sunday,Winter,OffPeak
MIN_0045_KWH,2.08,0.0,0.52,2017-01-01 00:45:00,Sunday,Winter,OffPeak
MIN_0100_KWH,2.08,0.0,0.52,2017-01-01 01:00:00,Sunday,Winter,OffPeak
MIN_0115_KWH,2.08,0.0,0.52,2017-01-01 01:15:00,Sunday,Winter,OffPeak

In [31]:
# switch column order

cols = df.columns.tolist()
cols

['CHNL_ID 101 (kW)',
 'CHNL_ID 102 (kW)',
 'Net Usage (kWh)',
 'DateTime',
 'WeekDay',
 'Season',
 'Tier']

In [32]:
cols = cols[-4:] + cols[:-4]
cols

['DateTime',
 'WeekDay',
 'Season',
 'Tier',
 'CHNL_ID 101 (kW)',
 'CHNL_ID 102 (kW)',
 'Net Usage (kWh)']

In [33]:
df = df[cols]
df.head()

,DateTime,WeekDay,Season,Tier,CHNL_ID 101 (kW),CHNL_ID 102 (kW),Net Usage (kWh)
MIN_0015_KWH,2017-01-01 00:15:00,Sunday,Winter,OffPeak,2.08,0.0,0.52
MIN_0030_KWH,2017-01-01 00:30:00,Sunday,Winter,OffPeak,2.08,0.0,0.52
MIN_0045_KWH,2017-01-01 00:45:00,Sunday,Winter,OffPeak,2.08,0.0,0.52
MIN_0100_KWH,2017-01-01 01:00:00,Sunday,Winter,OffPeak,2.08,0.0,0.52
MIN_0115_KWH,2017-01-01 01:15:00,Sunday,Winter,OffPeak,2.08,0.0,0.52

In [34]:
# add bill rate column

rate = []

for i in range(len(df)):
    if df['Season'][i] == 'Summer':
        if df['Tier'][i] == 'OnPeak':
            rate.append(0.11715)
        elif df['Tier'][i] == 'SemiPeak':
            rate.append(0.10752)
        else:
            rate.append(0.07696)
    else:
        if df['Tier'][i] == 'OnPeak':
            rate.append(0.10543)
        elif df['Tier'][i] == 'SemiPeak':
            rate.append(0.09000)
        else:
            rate.append(0.06875)

In [35]:
df['Rate'] = rate
df.head()

,DateTime,WeekDay,Season,Tier,CHNL_ID 101 (kW),CHNL_ID 102 (kW),Net Usage (kWh),Rate
MIN_0015_KWH,2017-01-01 00:15:00,Sunday,Winter,OffPeak,2.08,0.0,0.52,0.06875
MIN_0030_KWH,2017-01-01 00:30:00,Sunday,Winter,OffPeak,2.08,0.0,0.52,0.06875
MIN_0045_KWH,2017-01-01 00:45:00,Sunday,Winter,OffPeak,2.08,0.0,0.52,0.06875
MIN_0100_KWH,2017-01-01 01:00:00,Sunday,Winter,OffPeak,2.08,0.0,0.52,0.06875
MIN_0115_KWH,2017-01-01 01:15:00,Sunday,Winter,OffPeak,2.08,0.0,0.52,0.06875

In [36]:
# calculate electricity bill

df['Bill'] = df['Net Usage (kWh)'] * df['Rate']
df.head()

,DateTime,WeekDay,Season,Tier,CHNL_ID 101 (kW),CHNL_ID 102 (kW),Net Usage (kWh),Rate,Bill
MIN_0015_KWH,2017-01-01 00:15:00,Sunday,Winter,OffPeak,2.08,0.0,0.52,0.06875,0.03575
MIN_0030_KWH,2017-01-01 00:30:00,Sunday,Winter,OffPeak,2.08,0.0,0.52,0.06875,0.03575
MIN_0045_KWH,2017-01-01 00:45:00,Sunday,Winter,OffPeak,2.08,0.0,0.52,0.06875,0.03575
MIN_0100_KWH,2017-01-01 01:00:00,Sunday,Winter,OffPeak,2.08,0.0,0.52,0.06875,0.03575
MIN_0115_KWH,2017-01-01 01:15:00,Sunday,Winter,OffPeak,2.08,0.0,0.52,0.06875,0.03575

In [37]:
# write the results into excel file

writer = pd.ExcelWriter('electric_bill.xlsx')
df.to_excel(writer)
writer.save()